header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    padding: 15px 0;

    a {
        color: $black;

        &:hover {
            color: $blue;
        }
    }

    h1 {
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        font-family: 'Concert One', cursive;
    }

    #top-menu {
        float: right;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                margin: 0px 15px;
            }
        }
    }
}